<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
			<title>
				{% block title %}{% endblock %}
				- PokeProject
			</title>
			{% block stylesheets %}
				<link href="{{ asset('build/app.css') }}" type="text/css" rel="stylesheet"/>
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<header>
			<h1>Pokemon Project</h1>
			<a href="{{path("mainpage")}}">
				<h1 class="text">Mainpage</h1>
			</a>
		</header>
		<div id="content"> {% block content %}{% endblock %}
			</div>
			<footer>
				{% block footer %}
					<h3>Pokemon!</h3>
					<h3>by David Chaves Rodríguez (A22DavidCR)</h3>
				{% endblock %}
			</footer>
		</body>
	</html>
